<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} Mjekët {% endblock %}
{% load static %}
{% load embed_video_tags %}
{% load i18n %}
{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/home.jpg' %}" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/home.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/home.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<br><br>


  <div class="styled-paragraph-container">
    <div class="styled-paragraph">
        <p>
            
            This is a cool, responsive paragraph designed to look great on all devices. Enjoy the smooth gradient background and dynamic text size!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis adipisci doloremque velit nisi aliquam fugiat aperiam. Aspernatur quisquam minus blanditiis dicta, necessitatibus, nulla accusamus repellat consequuntur, facere ad eum recusandae?
        </p>
    </div>
</div>
<section class="albanostra" id="albanostra">


    <header >
        <div class="container">
            <header>
                <h1>Alba Nostra</h1>
            </header>
            <main>
                <a href="#" class="button">+355 68 205 3180</a>
                
                <a href="#" class="button">+355 68 205 3180</a>

            </main>
        </div>







</section>
<section class="review" id="review">
   
    
        <div id="videos">
            {% for video in videos %}
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/{{ video.url|cut:'https://www.youtube.com/watch?v=' }}" allowfullscreen></iframe>
                    <div class="video-title">{{ video.title }}</div>
                </div>
            {% endfor %}
        </div>
    
    </section>




    <section class="artinfo" id="artinfo">
        <div class="container">
          {% for artikujtinformuesAlbaNostra in artikujt_informuesAlbaNostra %}
          <a href="#" class="card">
            <img src="{{artikujtinformuesAlbaNostra.image.url}}" alt="Placeholder Image">
            <div class="card-content">
              <h3>{{ artikujtinformuesAlbaNostra.name }}</h3>
              
            </div>
          </a>
          {% endfor %}
          
        </div>
      </section>
      
{% endblock content%}  
