<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} Alba Nostra{% endblock %}
{% load static %}
{% load i18n %}
{% block content %}



<!-- hyrja e alba nostres -->
<!-- <section class="aboutus" id="aboutus">
    <div class="about_us">
    
      <div class="aboutsalus">
        <div class="container">
          <h2>{% trans "MIRËSEVINI NË ALBA NOSTRA" %}</h2>
          {% for albanostra in albanostra_txt %}
      
          
          <p>{{ albanostra.albanostra_text |safe}}</p>
          {% endfor %}
          <br><br>

          <div class="button-container">
            <button class="custom-button">+355 68 20 53 180</button>
            <button class="custom-button">+355 4239500</button>
        </div>
        </div>
        
      </div>
      </div>
    
    
    
    </div>
    </section>
 -->
<h1>dc</h1>




    <section class="albanostra_section">
      <div class="container_albanostra">
    
    
        <p class="text_albanostra">
         <strong style="font-size: 35px;">   Rreth Alba Nostra Salus </strong> <br>
      
      
      
         Alba Nostra Salus është themeluar në nëntor të vitit 2021, ndërsa përfaqëson një koncept inovativ dhe gjithëpërfshirës për trajtimin e varësive në Shqipëri. Kjo qendër e specializuar rehabilitimi është e vetmja në vend që ofron një shërbim të integruar multidisiplinar për individët që përballen me varësi nga alkooli, substancat, bixhozi dhe patologji të tjera. <br>  
         Alba Nostra Salus është projektuar për të mbështetur dhe rehabilituar pacientët nëpërmjet një ekipi profesionistësh të dedikuar si mjekë toksikologë, psikiatër, neurologë, internistë, endokrinologë, psikologë klinikë dhe infermierë të kualifikuar. Kombinimi i ekspertizës nga këto disiplina të ndryshme na lejon të ofrojmë një trajtim të plotë dhe të personalizuar për çdo pacient. <br>
         Qendra ka një kapacitet prej 20 pacientësh, duke siguruar një ambient familjar dhe mbështetës ku çdo individ merr vëmendjen dhe kujdesin e dedikuar.Monitorimi 24 orë në 7 ditë të javës garanton që pacientët të jenë gjithmonë të sigurt në çdo moment të trajtimit të tyre.  <br>
         <!-- Protokollet me standartet më të larta i vijnë në ndihmë pacientëve të zhvillojnë aftësi të reja dhe strategji për të menaxhuar dhe kapërcyer varësitë e tyre. Përveç trajtimit mjekësor dhe psikologjik, Alba Nostra Salus ofron mbështetje të vazhdueshme për familjarët e pacientëve, duke i ndihmuar ata të kuptojnë dhe të përballen më mirë me sfidat e patologjive. Kjo përfshin edukimin, këshillimin dhe burime të tjera mbështetëse që mundësojnë një rikuperim më të plotë dhe të qëndrueshëm. <br>
         Alba Nostra Salus është më shumë se një qendër rehabilitimi, është një vend shprese dhe shërimi, ku çdo pacient ka mundësinë të fillojë një kapitull të ri dhe të shëndetshëm në jetën e tij. Ne jemi të përkushtuar për të bërë një ndryshim pozitiv në jetët e të rinjve shqiptarë dhe familjeve të tyre, duke ofruar kujdes të specializuar dhe mbështetje të pandërprerë gjatë gjithë procesit të rikuperimit. <br>
        -->
        </p> 
        <img src="{% static 'img/photo_2024-08-28_13-50-39.jpg' %}" alt="Stylish Image" class="image_albanostra">
      </div>
      <div class="container_albanostra">
    
    
        <p class="text_albanostra">
         <strong style="font-size: 35px;"> Misioni i Alba Nostra Salus </strong> <br>
    
          Misioni i Alba Nostra Salus është të ofrojë një trajtim gjithëpërfshirës dhe të personalizuar për individët që vuajnë nga varësia ndaj alkoolit, substancave të ndryshme, bixhozit dhe patologjive të tjera. Ne angazhohemi për të krijuar një ambient të sigurt dhe mbështetës, duke përdorur një qasje multidisiplinare që përfshinë ekspertizën e mjekëve toksikologë, psikiatërve, neurologëve, internistëve, endokrinologëve, psikologëve klinikë dhe infermierëve tanë të kualifikuar. Ne jemi të përkushtuar të ofrojmë kujdes dhe mbështetje të pandërprerë, 24 orë në 7 ditë të javës, për të ndihmuar pacientët tanë të kapërcejnë varësinë dhe të arrijnë një jetë më të shëndetshme dhe të balancuar.
        </p>
       
        <img src="{% static 'img/about.jpg' %}" alt="Stylish Image" class="image_albanostra">
    </div>
    <div class="container_albanostra">
    
    
      <p class="text_albanostra">
       <strong style="font-size: 35px;">Vizioni i Alba Nostra Salus </strong> <br>
    
       
    
       Vizioni i Alba Nostra Salus është të jetë qendra lider në Shqipëri për trajtimin dhe rehabilitimin e varësive, duke vendosur standarde të reja për cilësinë dhe efektivitetin e kujdesit. Ne synojmë të frymëzojmë ndryshime pozitive në shoqëri, nëpërmjet edukimit dhe ndërgjegjësimit rreth çësthjeve të varësisë dhe duke promovuar shërimin dhe rehabilitimin e plotë të pacientëve. Ne duam të ndërtojmë një komunitet të shëndetshëm ku individët dhe familjet e tyre mund të gjejnë shpresë, mbështetje dhe mjetet e nevojshme për të jetuar një jetë të shëndetshme dhe pa varësi. </p>
     
      <img src="{% static 'img/about.jpg' %}" alt="Stylish Image" class="image_albanostra">
    </div>
    
    </section>






    <section class="contact_albanostra">
      <h1 class="title">Kontakto me ne</h1> 
      <div class="container">
         
         <a href="tel:+355 68 20 53 180" class="phone-button">+355 68 20 53 180</a>
         <a href="tel:+355 4 23 90 500" class="phone-button">+355 4 23 90 500</a>
     </div>
     </section>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     




<section class="mjeketalbanostra">

<div class="container">
    <h2 > MJEKET NE ALBA NOSTRA </h2>
    <div class="row">
  {% for mjeket_obj in prof_albanostramjeket %}
  <div class="col-md-4">
  <div  class="mjeket_all">
    <a href="{% url 'mjeket_detail' mjeket_obj.id  %}" class="card-link">
      <div class="card" style="width: 18rem;">
        <img src="{{ mjeket_obj.mjeket_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{mjeket_obj.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{mjeket_obj.departamenti}}</h6>
          
        </div>
      </div>
  </a>
  </div>
  </div>
  {% endfor %}  
  </div>
  </div>
</section>




<!-- Artikujt infomues -->
  <section class="artinfo" id="artinfo">
    <div class="container">
    <h2>ARTIKUJT INFOMUES</h2></div>
    <div class="container">
        
        {% for artikujtinformuesAlbaNostra in artikujt_informuesAlbaNostra %}
      <a href="#" class="card">
        <img src="{{artikujtinformuesAlbaNostra.image.url}}" alt="Placeholder Image">
        <div class="card-content">
          <h3>{{artikujtinformuesAlbaNostra.name}}</h3>
          
        </div>
      </a>
  
  
      
      {% endfor %}
      <!-- Add more cards here -->
    </div>
  </section>


<!-- CHECK UP -->



<br><br>
<div class="checkUp">
  <div class="container">
    <h1 class="" style="color: #1A355E; font-weight: 500;">
      CHECK-UP</h1>
      <br>
      <div class="row">
        {% for checkup_albanostra in checkup_Albanostra %}
        <div class="column">
          <img src="{{ checkup_albanostra.checkup_albanostra_img.url }}" class="img-fluid" alt="...">
        </div>
        {% endfor %}

      </div>
  </div>
  </div>
  <br><br>
{% endblock content%} 
