<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} Artikujt Informues {% endblock %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="artikujt_informues">
  <div class="container">
  <h1 style="color: #1A355E; font-weight: 500;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 444.7 444.7" style="enable-background:new 0 0 444.7 444.7;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#1A355E;}
    </style>
    <path class="st0" d="M433.3,199.5v-46.7H293V12.5h-46.7v140.2h-46.7V12.5h-46.7v140.2H12.5v46.7h140.2v46.7H12.5V293h140.2v140.2  h46.7V293h46.7v140.2H293V293h140.2v-46.7H293v-46.7H433.3z M246.3,246.3h-46.7v-46.7h46.7V246.3z"></path>
    </svg> {% trans "ARTIKUJT INFORMUES" %}</h1>
<br>
<div class="row">
  <div class="col-md-3">
    


    <div class="dropdown" style="color: #1A355E !important;">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans "Filtro 30 departamente" %}
      </button>
      <ul class="dropdown-menu">
       

{% for departament in departamenti %}  
        <li><a class="dropdown-item" href="{% url 'artikuj_informues' %}?q={{departament.name}}">{{departament.name}}</a></li>
{% endfor %}
      </ul>
    </div>
   
  


   
         
         
  </div>
  <div class="col-md-9 ">
    <div class="row">
     

            {% for artikujtinformues_obj in artikuj_informues%}
             <div class="col-md-4 py-3">
            <div class="artikujt_informuescard">
             <div class="card" >
            <a href="{% url 'artinfodetail' artikujtinformues_obj.id %}"><img src="{{artikujtinformues_obj.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
            <p class="card-text">{{artikujtinformues_obj.name}}</p>
            </div>
            </div> 
            </div>
          </div>
            {% endfor %}
      

</div>
  </div>






</div>
</div>
</section>




















{% endblock content %}