<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}

<br><br>
<div class="checkUp">
  <div class="container">
    <h1 class="" style="color: #1A355E; font-weight: 500;">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 444.7 444.7" style="enable-background:new 0 0 444.7 444.7;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#1A355E;}
      </style>
      <path class="st0" d="M433.3,199.5v-46.7H293V12.5h-46.7v140.2h-46.7V12.5h-46.7v140.2H12.5v46.7h140.2v46.7H12.5V293h140.2v140.2  h46.7V293h46.7v140.2H293V293h140.2v-46.7H293v-46.7H433.3z M246.3,246.3h-46.7v-46.7h46.7V246.3z"></path>
      </svg>CHECK-UP</h1>
      <br>
      <div class="row">
        {% for checkup in checkup %}
        <div class="column">
          <img src="{{ checkup.check_up.url }}" class="img-fluid" alt="...">
        </div>
        {% endfor %}

      </div>
  </div>
  </div>





















{% endblock content %}