<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} Specialitet {% endblock %}
{% load static %}
{% load i18n %}
{% block content %}




    <h1 id="titullspecialiteti"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 444.7 444.7" style="enable-background:new 0 0 444.7 444.7;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#1A355E;}
      </style>
      <path class="st0" d="M433.3,199.5v-46.7H293V12.5h-46.7v140.2h-46.7V12.5h-46.7v140.2H12.5v46.7h140.2v46.7H12.5V293h140.2v140.2  h46.7V293h46.7v140.2H293V293h140.2v-46.7H293v-46.7H433.3z M246.3,246.3h-46.7v-46.7h46.7V246.3z"></path>
      </svg> {% trans "Specialitetet" %}</h1>
<section class="dikush"id="dikush" >
    {% for specialitet in specialitet%}
    

    <div  class="mjeket_all">
        <a href="{% url 'specialitet_detail'  specialitet.id %}?q={{departament.name}}" class="card-link">
          <div class="card">
            <img src="{{ specialitet.specialitet_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{specialitet.name}}</h5>
              
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

</section>





{% endblock content%}